<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-6RE85HZE97"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-6RE85HZE97');
        </script>   
        <meta charset="utf-8">
        <title>{{ page.title }} / Sam Johnson</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="{{ site.baseurl }}/styles/main.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,600;1,400&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <header>
            <div id="siteTitle">
                <a href="/">Sam Johnson</a>
            </div>
            <nav>
                {% include nav.html %}
            </nav>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            <div class="icon-bar">
             <!-- <a href="https://instagram.com/" class="fa fa-instagram" target="_blank"></a> -->
            <!--    <a href="https://twitter.com/" class="fa fa-twitter" target="_blank"></a> -->
            <!-- <a href="https://medium.com/@" class="fa fa-medium" target="_blank"></a>     -->
                <a href="https://linkedin.com/in/sammyj-me" class="fa fa-linkedin" target="_blank"></a>
                <a href="https://github.com/sammyj-me" class="fa fa-github" target="_blank"></a>
            </div>
            <p><strong>© 2023 Sam Johnson</strong></p>
        </footer>
    </body>
</html>